<header class="shadow-sm text-center py-2 sticky-top bg-body-tertiary">
  <nav class="container navbar navbar-expand-lg">
      <a class="navbar-brand" href="/#">Help Request Portal</a>
      <ul class="navbar-nav flex-grow-1">
        {% if current_user %}
          {% if current_user.is_staff %}
          <li class="nav-item"><a class="btn btn-primary" href="/request-tasks">View task requests</a></li>
          {% else %}
          <li class="nav-item"><a class="btn btn-primary" href="/request-tasks/create">Create help request</a></li>
          {% endif %}
        {% endif %}
      </ul>

      {% if not no_auth_controls and current_user %}
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ current_user.username }}
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/users/{{ current_user.id }}">Profile</a></li>
            <li>
              <form action="/users/logout" method="POST">
                <button type="submit" class="dropdown-item">Logout</button>
              </form>
            </li>
        </ul>
      </div>
      {% else %}
      <div class="button-group">
        <a class="btn btn-outline-secondary" href="/users/login">Login</a>
        <a class="btn btn-primary" href="/users/register">Register</a>
      </div>
      {% endif %}
    </nav>
</header>