<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-container {
            max-width: 400px;
            margin: auto;
            margin-top: 100px;
        }
        .task-list-container {
            max-width: 600px;
            margin: auto;
            margin-top: 50px;
        }
        .task-list-item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    {% include 'includes/header.html' %}
    <main>
        {% block content %}
        <h1>Hello, World!</h1>
        {% endblock %}
    </main>
    {% include 'includes/footer.html' %}
</body>
</html>