<div class="card d-flex flex-column gap-4 p-4">
    <h4 class="d-flex text-primary justify-content-between align-items-baseline mb-0">
<a href="/request-tasks/{{ request_task.id}}" class="text-decoration-none"><span>{{ request_task.name }}</span></a>
{% if request_task.ending_at and request_task.ending_at < current_datetime %}
  {% if request_task.is_done %}
  <span class="bagde rounded p-2 text-danger border border-danger text-end fs-5"><i class="bi bi-x"></i> Completed past due</span>
  {% else %}
  <span class="bagde rounded p-2 text-bg-danger text-end fs-5"><i class="bi bi-clock-history"></i> Overdue</span>
  {% endif %}
{% elif request_task.is_done %}
<span class="bagde rounded p-2 text-success border border-success text-end fs-5"><i class="bi bi-check2-circle"></i> Done</span>
{% else %}
<span class="bagde p-2 text-bg-primary rounded text-end fs-5"><i class="bi bi-list-task"></i> To do</span>
{% endif %}
    </h4>
    {% if full_info %}
        <div class="form-group">
            <label for="description_{{ request_task.id }}" class="form-label">Description</label>
            <textarea class="form-control" id="description_{{ request_task.id }}" readonly>{{ request_task.description }}</textarea>
        </div>
        {% if request_task.location_lng_lat %}
        {% set lng_lat = request_task.location_lng_lat.split(',') %}
        {% set lng, lat = lng_lat %}
        <div class="alert alert-info">
            <p>This task has a specific location.</p>
            <a class="btn btn-info" href="https://maps.google.com?q={{ lat }},{{ lng }}" target="_blank"><i class="bi bi-geo-alt-fill"></i> View it</a>
        </div>
        {% endif %}
    {% endif %}
    <div class="form-group">
        <label for="creator_{{ request_task.id }}" class="form-label">Creator:</label>
        <a id="creator_{{ request_task.id }}" href="/users/{{ request_task.creator.id }}">{{ request_task.creator.username }}</a>
    </div>
    <p class="mb-0">Priority: <span class="badge text-bg-primary">{{ request_task.priority.name }}</span></p>
    {% if request_task.created_at %}
    <p class="text-secondary mb-0">Created at: {{ request_task.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    {% endif %}
    {% if request_task.ending_at %}
    {% set deadline_caption_style = "" if request_task.ending_at > current_datetime else "text-danger text-decoration-line-through" %}
    <p class="text-secondary mb-0 {{ deadline_caption_style }}">Deadline: {{ request_task.ending_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    {% endif %}
    <div class="w-100 d-flex justify-content-end align-items-baseline gap-4 flex-wrap">
        {% if current_user.is_staff and not request_task.is_done %}
        <form action="/request-tasks/{{ request_task.id }}/done" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="d-flex w-100 justify-content-end">
                {% if request_task.ending_at and request_task.ending_at < current_datetime %}
                <button class="btn btn-danger" type="submit"><i class="bi bi-check-lg"></i> Complete past due</button>
                {% else %}
                <button class="btn btn-success" type="submit"><i class="bi bi-check-circle-fill"></i> Complete task</button>
                {% endif %}
            </div>
        </form>
        {% elif request_task.done_at %}
        <p class="text-secondary">Completed at: {{ request_task.done_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        {% endif %}
        {% if not full_info %}
            <a href="/request-tasks/{{ request_task.id }}" class="btn btn-primary">View task</a>
        {% endif %}
    </div>
</div>