<div class="d-flex flex-column gap-3">
    <div class="d-flex justify-content-between align-items-baseline">
        <h3 class="text-center display-5 text-primary">Task Requests</h3>
        {% if not current_user.is_staff %}
        <a href="/request-tasks/create" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Create</a>
        {% endif %}
    </div>
    <div class="card d-flex p-4">
        <div class="d-flex justify-content-between mb-4">
            <h4>Options</h4>
            <a class="btn btn-outline-danger" href="{{ url_prefix }}/"><i class="bi bi-x-lg"></i> Reset</a>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="input-group">
                <input type="text" class="form-control" id="search-input" placeholder="Keywords, decsribing help request, for example &quot;emergency medical aid&quot;" {{ 'value='~filter.text_search if filter.text_search else '' }} />
                <button type="button" class="btn btn-primary" id="search-btn"><i class="bi bi-search"></i> Search</button>
            </div>
        </div>
        <div class="d-flex justify-content-between gap-3 flex-wrap">
            <div class="d-flex flex-column justify-content-end align-items-baseline mb-4 gap-3">
                <label>Display per page</label>
                <div class="btn-group" id="display-per-page">
                    <button class="btn {{ 'btn-primary' if not request_tasks.pagination.current_limit or request_tasks.pagination.current_limit == 10 else 'btn-outline-primary' }}" data-display-per-page="10">10</button>
                    <button class="btn {{ 'btn-primary' if request_tasks.pagination.current_limit == 20 else 'btn-outline-primary' }}" data-display-per-page="20">20</button>
                    <button class="btn {{ 'btn-primary' if request_tasks.pagination.current_limit == 50 else 'btn-outline-primary' }}" data-display-per-page="50">50</button>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-end align-items-baseline mb-4 gap-3">
                <label>Filter</label>
                <div class="btn-group" id="filter-done-status">
                    <button class="btn {{ 'btn-primary' if not filter.done_status or filter.done_status == 'all' else 'btn-outline-primary' }}" data-done-status="all">All</a>
                    <button class="btn {{ 'btn-primary' if filter.done_status == 'done' else 'btn-outline-primary' }}" data-done-status="done"><i class="bi bi-check2-circle"></i> Done</a>
                    <button class="btn {{ 'btn-primary' if filter.done_status == 'todo' else 'btn-outline-primary' }}" data-done-status="todo"><i class="bi bi-list-task"></i> ToDo</a>
                </div>
            </div>
            <div class="form-group d-flex flex-column mb-4 gap-3">
                <label for="sort-priority">Keep priority first</label>
                <select class="form-select" id="sort-priority">
                    <option value="">Any priority</option>
                    {% for priority in priorities %}
                    {% if priority.id == sort.priority_id %}
                    <option value="{{ priority.id }}" selected>{{ priority.name }}</option>
                    {% else %}
                    <option value="{{ priority.id }}">{{ priority.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group d-flex flex-column mb-4 gap-3">
                <label for="sort-dates">Sort by</label>
                <select class="form-select" id="sort-dates">
                    <option value="">Do not sort</option>
                    <option value="newest" {{ 'selected' if sort.sort_by == 'newest' else '' }}>Newest</option>
                    <option value="oldest" {{ 'selected' if sort.sort_by == 'oldest' else '' }}>Oldest</option>
                    <option value="ending" {{ 'selected' if sort.sort_by == 'ending' else '' }}>Deadline</option>
                </select>
            </div>
        </div>
    </div>
    {% if request_tasks.pagination.items is defined and request_tasks.pagination.items|length > 0 %}
        <div class="d-flex flex-column gap-3">
        {% for request_task in request_tasks.pagination.items %}
        {% include 'request_task/card.html' %}
        {% endfor %}
        </div>
    {% else %}
        <div class="text-center py-4">
            <h2 class="display-5 mb-4">Empty!</h2>
            <p>{{ no_tasks_caption }}</p>
        </div>
    {% endif %}
    {% if request_tasks.pagination.has_next or request_tasks.pagination.has_prev %}
    <div class="d-flex w-100 justify-content-center mt-4">
        <div class="btn-group">
            {% if request_tasks.pagination.has_prev %}
            <a class="btn btn-primary" href="{{ url_prefix }}/?limit={{ request_tasks.pagination.current_limit }}&page={{ request_tasks.pagination.current_page - 1 }}">Prev</a>
            {% endif %}
            {% if request_tasks.pagination.has_next %}
            <a class="btn btn-primary" href="{{ url_prefix }}/?limit={{ request_tasks.pagination.current_limit }}&page={{ request_tasks.pagination.current_page + 1 }}">Next</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
<script>
    function getQueryParamString(query_params_obj) {
        let result = "?"
        for (const key of Object.keys(query_params_obj)) {
            if (result !== "?") {
                result += "&"
            }

            const value = encodeURIComponent(query_params_obj[key])
            result += `${key}=${value}`
        }

        return result
    }

    const filter_done_status = document.getElementById("filter-done-status")
    const display_per_page = document.getElementById("display-per-page")
    const sort_priority_select = document.getElementById("sort-priority")
    const sort_dates_select = document.getElementById("sort-dates")
    const search_input = document.getElementById("search-input")
    const search_btn = document.getElementById("search-btn")
    let current_priority = null
    let current_sort_dates_value = null
    let current_done_status = "{{ filter.done_status if filter.done_status else '' }}"
    let current_limit = "{{ request_tasks.pagination.current_limit }}"
    const base_url = `${window.location.origin}{{ url_prefix }}`
    const query_params = {}

    function updatePage() {
        if (current_done_status) {
            query_params.done_status = current_done_status
        }

        if (current_limit) {
            query_params.limit = current_limit
        }

        if (sort_priority_select.value) {
            query_params.priority_id = sort_priority_select.value
        }

        if (sort_dates_select.value) {
            query_params.sort_by = sort_dates_select.value
        }

        if (search_input.value) {
            query_params.text_search = search_input.value
        }

        const query_param_string = getQueryParamString(query_params)
        window.location.href = `${base_url}${query_param_string}`
    }

    if (filter_done_status) {
        for (const done_status_button of filter_done_status.children) {
            done_status_button.addEventListener("click", (e) => {
                current_done_status = done_status_button.dataset.doneStatus
                updatePage()
            })
        }
    }

    if (display_per_page) {
        for (const button of display_per_page.children) {
            button.addEventListener("click", (e) => {
                current_limit = button.dataset.displayPerPage
                updatePage()
            })
        }
    }

    if (sort_priority_select) {
        sort_priority_select.addEventListener("change", updatePage)
    }

    if (sort_dates_select) {
        sort_dates_select.addEventListener("change", updatePage)
    }

    if (search_input && search_btn) {
        search_btn.addEventListener("click", updatePage)

        search_input.addEventListener("keypress", (e) => {
            if (e.key === 'Enter' || e.keyCode === 13) {
                search_btn.click()
            }
        })
    }
</script>