<div class="row w-100">
    <div class="col-md-8 offset-md-2 task-list-container">
        <div class="w-100 d-flex justify-content-between align-items-baseline mb-4">
            <h2 class="text-center mb-4">Task Requests</h2>
            {% if not current_user.is_staff %}
            <a href="/request-tasks/create" class="btn btn-primary">Create</a>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-end align-items-baseline mb-4" style="gap: 0.75rem">
            <label>Display per page</label>
            <div class="btn-group">
                {% if request_tasks.pagination.current_limit == 10 %}
                <a class="btn btn-primary" href="#">10</a>
                {% else %}
                <a class="btn btn-outline-primary" href="{{ url_prefix }}/?page=1&limit=10">10</a>
                {% endif %}

                {% if request_tasks.pagination.current_limit == 20 %}
                <a class="btn btn-primary" href="#">20</a>
                {% else %}
                <a class="btn btn-outline-primary" href="{{ url_prefix }}/?page=1&limit=20">20</a>
                {% endif %}

                {% if request_tasks.pagination.current_limit == 50 %}
                <a class="btn btn-primary" href="#">50</a>
                {% else %}
                <a class="btn btn-outline-primary" href="{{ url_prefix }}/?page=1&limit=50">50</a>
                {% endif %}
            </div>
        </div>
        {% if request_tasks is defined and request_tasks|length > 0 %}
            <div class="d-flex flex-column" style="gap: 0.75rem">
            {% for request_task in request_tasks.pagination.items %}
            {% include 'request_task/card.html' %}
            {% endfor %}
            </div>
        {% else %}
            <div>
                <h2 class="display-2">Empty!</h2>
                <p>{{ no_tasks_caption }}</p>
            </div>
        {% endif %}
        {% if request_tasks.pagination.has_next or request_tasks.pagination.has_prev %}
        <div class="d-flex w-100 justify-content-center mt-4">
            <div class="btn-group">
                {% if request_tasks.pagination.has_prev %}
                <a class="btn btn-primary" href="{{ url_prefix }}/?limit={{ request_tasks.pagination.current_limit }}&page={{ request_tasks.pagination.current_page - 1 }}">Prev</a>
                {% endif %}
                {% if request_tasks.pagination.has_next %}
                <a class="btn btn-primary" href="{{ url_prefix }}/?limit={{ request_tasks.pagination.current_limit }}&page={{ request_tasks.pagination.current_page + 1 }}">Next</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>