{% extends 'base.html' %}

{% block title %}
<title>Update task request</title>
{% endblock %}

{% block content %}
<div class="container form-container-lg">
    <form class="card d-flex flex-column gap-4 p-4 shadow" action="/request-tasks/update/{{ form.id }}" method="POST" enctype="application/x-www-form-urlencoded">
        <h2 class="text-center text-primary display-5">Update task request</h2>
        <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" type="text" id="title" name="name" placeholder="What you need to help with?" required {{ 'value='~form.name if form else '' }} />
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" placeholder="Describe, what is needed to be done in detail." required>{{ form.description if form else '' }}</textarea>
        </div>
        <div class="form-group">
            <label for="priority" class="form-label">
                Priority
            </label>
            <select class="form-select" id="priority" name="priority_id" required>
                <option value="">How urgently you need help?</option>
                {% for priority in priorities %}
                <option value="{{ priority.id }}" {{ 'selected' if form and form.priority_id == priority.id else '' }}>{{ priority.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="set-location" aria-describedby="set-location-help" />
                <label class="form-check-label" for="set-location">Set location</label>
            </div>
            <div class="form-text" id="set-location-help">
                Enable "Set location" option, if you need help in a specific location.
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="set-deadline" aria-describedby="set-deadline-help" />
                <label class="form-check-label" for="set-deadline">Set deadline</label>
            </div>
            <div class="form-text" id="set-deadline-help">
                Enable "Set deadline" option, if you need help until specific time.
            </div>
        </div>
        <div class="d-flex justify-content-center gap-3">
            <a href="/request-tasks/{{ form.id }}" class="btn btn-outline-secondary">Cancel</a>
            <button class="btn btn-primary"> Save changes</button>
        </div>
        {% include 'form_errors.html' %}
    </form>
</div>
{% include 'request_task/form_switches_script.html' %}
<script>
    const has_ending_at = "{{ form and form.ending_at }}"
    const has_location_lng_lat = "{{ form and form.location_lng_lat }}"

    if (has_ending_at !== "None" && set_deadline_input) {
        set_deadline_input.click()
    }

    if (has_location_lng_lat !== "None" && set_location_input) {
        set_location_input.click()
    }
</script>
{% endblock %}