{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card shadow d-flex flex-column gap-2 p-4 form-container">
        <h2 class="text-center display-5 text-primary">Login</h2>
        <form action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="d-flex flex-column align-items-stretch gap-3">
                <div class="form-group">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Your username" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password here" required>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
                <p class="text-center mt-4">Do not have an account? <a href="/users/register">Register one</a></p>
                {% include 'form_errors.html' %}
            </div>
       </form>
    </div>
</div>
{% endblock %}