{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 form-container">
            <h2 class="text-center mb-4">Login</h2>
            <form action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="form-group mb-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <p class="text-center mt-4">Do not have an account? <a href="/users/register">Register one</a></p>
                {% include 'form_errors.html' %}
           </form>
        </div>
    </div>
</div>
{% endblock %}