{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card shadow d-flex flex-column gap-2 p-4 form-container">
        <h2 class="text-center display-5 text-primary">Register</h2>
        <form action="/users/register" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="d-flex flex-column align-items-stretch gap-3">
                <div class="form-group">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="For example, bondarchuk37" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password here" aria-describedby="password-help" required>
                    <div class="form-text" id="password-help">
                        Password should contain at least 8 characters.
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check" aria-describedby="is_staff_help">
                        <input type="checkbox" class="form-check-input" id="is_staff" name="is_staff" value="{{ form_defaults.is_staff }}" />
                        <label for="is_staff" class="form-check-label">Staff</label>
                    </div>
                    <div id="is_staff_help" class="form-text">
                        Check "Staff" option, if you want to fulfill request tasks.
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
                <p class="text-center mt-4">Already have an account? <a href="/users/login">Login</a></p>
                {% include 'form_errors.html' %}
            </div>
        </form>
    </div>
</div>
<script>
    const is_staff_input = document.getElementById("is_staff")

    if (is_staff_input) {
        is_staff_input.checked = is_staff_input.value.toLowerCase() === "true"
        is_staff_input.addEventListener("change", (e) => {
            is_staff_input.setAttribute("value", is_staff_input.checked)
        })
    }
</script>
{% endblock %}