{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 form-container">
            <h2 class="text-center mb-4">Register</h2>
            <form action="/users/register" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="form-group mb-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group mb-3">
                    <div class="form-check" aria-describedby="is_staff_help">
                        <input type="checkbox" class="form-check-input" id="is_staff" name="is_staff" value="False" />
                        <label for="is_staff" class="form-check-label">Staff</label>
                    </div>
                    <div id="is_staff_help" class="form-text">
                        Check "Staff" option, if you want to fulfill request tasks.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
                {% include 'form_errors.html' %}
            </form>
        </div>
    </div>
</div>
<script>
    const is_staff_input = document.getElementById("is_staff")

    if (is_staff_input) {
        is_staff_input.addEventListener("change", (e) => {
            is_staff_input.setAttribute("value", is_staff_input.checked)
        })
    }
</script>
{% endblock %}