{% extends 'base.html' %}

{% block title %}
<title>User</title>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column w-100 h-100 align-items-center justify-content-center">
    <div class="card d-flex flex-column justify-content-between p-4 w-100 mb-4">
        <h1>User</h1>
        <div class="d-flex flex-column">
            <div class="form-group mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" value="{{ current_user.username }}" readonly />
            </div>
        </div>
    </div>
    {% if not current_user.is_staff %}
    <div class="card d-flex flex-column justify-content-between p-4 w-100 gap-4">
        <h1>Task Requests</h1>
        <div class="d-flex flex-column" style="gap: 0.75rem">
            {% if user.request_tasks is defined and user.request_tasks|length > 0 %}
                {% for request_task in user.request_tasks %}
                {% include 'request_task/card.html' %}
                {% endfor %}
            {% else %}
                <div>
                    <h2 class="display-4">Empty!</h2>
                    <p>User didn't create any request tasks yet.</p>
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

