{% extends 'base.html' %}

{% block title %}
<title>User</title>
{% endblock %}

{% block content %}
<div class="container-sm d-flex flex-column h-100 align-items-stretch gap-5">
    <div class="d-flex flex-column gap-2">
        <h2>User</h2>
        <div class="form-group">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" value="{{ user.username }}" readonly />
        </div>
    </div>
    {% if not user.is_staff %}
    {% with url_prefix="/users/"~user.id, no_tasks_caption="User didn't create any request tasks yet." %}
    {% include 'request_task/list_base.html' %}
    {% endwith %}
    {% endif %}
</div>
{% endblock %}

